<template>
  <div class="about">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada. Mi bibendum neque egestas congue quisque. Aliquet enim tortor at auctor urna nunc id cursus. Tincidunt dui ut ornare lectus sit amet est placerat. Ut ornare lectus sit amet est. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Cursus mattis molestie a iaculis at erat pellentesque adipiscing. Vel risus commodo viverra maecenas accumsan lacus vel. Sed faucibus turpis in eu mi bibendum neque. Ipsum dolor sit amet consectetur adipiscing elit ut. Sociis natoque penatibus et magnis dis.</p>
    <p>In fermentum posuere urna nec. Pellentesque dignissim enim sit amet venenatis urna cursus. Mattis molestie a iaculis at erat pellentesque. Duis at tellus at urna. Faucibus scelerisque eleifend donec pretium vulputate sapien. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Metus vulputate eu scelerisque felis imperdiet proin. Nullam non nisi est sit. Ornare arcu odio ut sem nulla pharetra diam. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. Morbi blandit cursus risus at ultrices. Venenatis urna cursus eget nunc scelerisque. Imperdiet sed euismod nisi porta lorem mollis. Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Mauris sit amet massa vitae tortor condimentum lacinia. Dapibus ultrices in iaculis nunc sed augue lacus. Et malesuada fames ac turpis egestas integer eget. Ut tristique et egestas quis ipsum suspendisse ultrices.</p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
