<script setup>
import { ref, onMounted, watch, onBeforeUnmount } from 'vue';
import axios from 'axios';

import ParlamentoSVG from '@/components/ParlamentoSvg.vue';
import ListaPartidos from '@/components/ListaPartidos.vue';

const resultsParty = ref([]);
const correntResults = ref([]);
const fetchData = async () => {
  try {

    
    const { data } = await axios.get('/result.json');        
    //const { data } = await axios.get('https://dev-ecoonline.pantheonsite.io/wp-content/plugins/wyp-eleicoes/eleicoes2024.json');        

    const results = data.Body.getResultadosPaisResponse.ResultadosPais;
            results.Resultados.OpcaoDeVoto.sort(function(a, b) {
                return b.Votos - a.Votos;
            });

    resultsParty.value = results.Resultados.OpcaoDeVoto;   
    correntResults.value = results;
  } catch (error) {
    console.error('Error fetching data:', error);
  }
};

const soma = (a, b)=>{
  return parseInt(a)+parseInt(b);
}

onMounted(async () => {
  await fetchData(); 
  const intervalId = setInterval(async () => {
    await fetchData();
  }, 60000);

  onBeforeUnmount(() => {
    clearInterval(intervalId);
  });
});

watch(resultsParty, () => {
  key.value += 1;
  console.log('updated', key.value);
});
const key = ref(0);

</script>

<template>
  <main>               
    <ParlamentoSVG :results="resultsParty" :key="key"/>

    <div class="legenda-parlamento">
      <div>Mandatos Atribuidos: {{ correntResults.MandatosAtribuidos }}</div>
      <div>Por Atribuir: {{ correntResults.MandatosPorAtribuir }}</div>
    </div>
    

    <hr>
    <ListaPartidos :results="resultsParty" />
    <hr>
    
    <div class="legenda-parlamento">
      <div>Inscritos: {{ correntResults.Inscritos }} </div>
      <div>Votantes: {{ correntResults.PercentagemVotantes }} % ({{ correntResults.Votantes }})</div>
    </div>
    <div class="legenda-parlamento">
      <div>Freguesias: {{ correntResults.FreguesiasApuradas }} / {{ soma(correntResults.FreguesiasApuradas, correntResults.FreguesiasPorApurar) }}</div>        
      <div>Votos Brancos: {{ correntResults.PercentagemBrancos }}% ({{ correntResults.VotosBrancos }})</div>
    </div>

    <div class="legenda-parlamento">
      <div> Concelhos: {{ correntResults.ConcelhosApurados }} /  {{ soma(correntResults.ConcelhosApurados, correntResults.ConcelhosPorApurar) }}  </div>
      <div> Votos Nulos:  {{ correntResults.PercentagemNulos }}% ({{ correntResults.VotosNulos }})</div>
    </div>

  </main>
</template>

<style>

.legenda-parlamento {
  display: flex;
  justify-content: space-between;
}
.legenda-parlamento > div { 
  padding: 5px;
}


.container {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
    hr {
      border: 0;
      border-top: 1px solid #ccc;
      margin: 10px 0;
    }
    .resultados {
      margin-bottom: 10px;
    }
    .resultados strong {
      font-weight: bold;
    }
</style>