<script setup>
import LogoPartidos from './LogoPartidos.vue';
  defineProps(['results'])
</script>
<template>
    <ul class="party_list">
        <li v-for="result in results" :key="result.Designacao" class="party">            
            <div class="partyInfo">
              <LogoPartidos :image-name="result.Designacao" class="party__logo "/>                        
                <div class="partyInfoItem">
                  <span class="infoItem"><strong :title="result.Designacao"> {{ result.Designacao }} </strong></span>
                  <span class="infoItem"> {{ result.PercentagemVotos }}% </span>                
                  <span class="infoItem" title="Número de votos"> ({{ result.Votos }} ) </span>
                  <span class="infoItem" title="Número de mandatos"><strong> {{ result.Mandatos }} </strong> mandatos</span>
                </div>
            </div>                           
                <div style="background-color: #e4e4e4; margin-left: 60px;" >
                  <div class="progress" :style="{ width: result.PercentagemVotos + '%' }">
                    <div :style="{ width: result.PercentagemVotos }" class="progress-bar"></div>  
                  </div>
                </div>                
    
            
        </li>   
    </ul>

</template>
<style>
  ul.party_list li.party {    
    list-style: none;
    margin-left: -2rem;
  }
  
  .party__logo {
    float: left;
    margin-right: 10px; 
  }
  


.progress{
    height: 15px;    
    position: relative;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #00af00;
   animation: progress-animation 6s forwards;
}

@keyframes progress-animation{
    0% { width: 0%; }    
    100% { width: 100%}    
}



.partyInfo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-size: .9411764706rem;
    line-height: 1.2;
}

.party {
    margin: 1.5rem 0;
}


strong {
    font-weight: 700;
}

.party__name {
    margin-left:10px;
    font-size: 17.999px;
    font-size: 1.2rem;
}


.party__logo {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 85%;
    box-shadow: 0 0 0 2px rgba(0,175,0,.1);
    margin-bottom: -1.1764705882rem;
    width: 40px;
    width: 2.5rem;
}

.partyInfoItem{   
    padding: 15px;
}

.infoItem{
  padding-right: 1rem;
}

</style>