<script setup>
defineProps(['imageName']);

const findLogoTipos = (id) => {    
  const logoTipos = {
    "A": "a.png",
    "ADN": "adn.png",
    "B.E.": "B.E..png",
    "CDS-PP": "cds-pp.png",
    "CH": "ch.png",
    "E": "e.png",
    "IL": "il.png",
    "JPP": "jpp.jpg",
    "L": "l.png",
    "MAS": "mas.png",
    "MPT": "mpt.png",
    "NC": "nc.jpg",
    "PAN": "pan.jpg",
    "PCP": "pcp.png",
    "PCTP-MRPP": "pctp-mrpp.png",
    "PEV": "pev.png",
    "PPD-PSD": "ppd-psd.png",
    "PPM": "ppm.png",
    "PS": "PS.png",
    "PTP": "ptp.png",
    "PURP": "purp.jpg",
    "RIR": "rir.png",
    "VOLT": "volt.png"
  };

  if (logoTipos.hasOwnProperty(id)) {
    return logoTipos[id];
  } 
  return 'branco.png'
}

const  getImagePath = (imageName) => {
      return `/logos/${findLogoTipos(imageName)}`;
}
</script>

<template>             
      
      <div :style="{ 'background-image': 'url(' + getImagePath(imageName) + ')' }" class="logo">    
      </div>
</template>
<style scoped>
/* Estilos opcionais para a div */
.logo {
  position: relative;
  width: 50px; 
  height: 50px;
  background-size: cover; 
  background-position: center; 
  box-shadow: 0 0 0 2px rgba(0, 175, 0, .1);
}
</style>